www.godashbed.org:443 {
 	tls {{godash_defaults_path}}/cert.pem {{godash_defaults_path}}/key.pem
  	encode gzip
  	root * {{root_dash_path}}
  	file_server
  	log {
		output file         ./output/caddy_access.log
		format single_field common_log
	}
}
